.carticon-button {
	font: inherit;
	cursor: pointer;
	border: none;
	background-color: #353336;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 25px;
	font-weight: bold;
	padding: 0.75rem 3rem;

	&:hover,
	&:active {
		background-color: #232224;
	}

	&__icon {
		width: 1.35rem;
		height: 1.35rem;
		margin-right: 0.5rem;
	}

	&__badge {
		background-color: #5c5a5e;
		color: white;
		padding: 0.25rem 1rem;
		border-radius: 25px;
		margin-left: 1rem;
		font-weight: bold;

		&:hover,
		&:active {
			background-color: #4b494d;
		}
	}
}

.bump {
	animation: bump 300ms ease-out;
}

@keyframes bump {
	0% {
		transform: scale(1);
	}
	10% {
		transform: scale(0.9);
	}
	30% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1.15);
	}

	100% {
		transform: scale(1.15);
	}
}
