.meal-form {
	text-align: right;

	button {
		font: inherit;
		cursor: pointer;
		font-weight: bold;
		color: white;
		border: 1px solid #8a2b06;
		background-color: #8a2b06;
		padding: 0.25rem 2rem;
		border-radius: 25px;

		&:hover,
		&:active {
			background-color: #641e03;
			border-color: #641e03;
		}
	}
}
